@font-face {
   font-family: '华康流隶体PW5';
   font-display: swap;
   src: url('file:///D:/%E7%B6%B2%E7%AB%99%E4%BD%9C%E6%A5%AD/GitHub/mobirise/fonts/%E5%8D%8E%E5%BA%B7%E6%B5%81%E9%9A%B6%E4%BD%93PW5/font.ttf');
}
