@font-face {
   font-family: '清松手寫體2';
   font-display: swap;
   src: url('file:///C:/Users/a0926/Desktop/%E6%96%B0%E5%A2%9E%E8%B3%87%E6%96%99%E5%A4%BE/fonts/%E6%B8%85%E6%9D%BE%E6%89%8B%E5%AF%AB%E9%AB%942/font.ttf');
}
